.container{ 
    display: flex; flex-direction: column; text-align: center; span{ display: flex; align-items: center; gap: 5px; } 
img { width: 20px } 
.skillList{
     display: flex; flex-wrap: wrap; justify-content: space-evenly; row-gap: 40px; align-self: center; max-width: 26ch; }
 hr{
     width: 100px; border: none; height: 1px; background-color: var(--text-color); margin: 30px auto; } 

@media (width >= 800px){
 .skillList {
max-width: fit-content; gap: 30px;
p {
font-size: 20px;}
hr {
width: 300px;
}
}
}
}